<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="book">
	<!-- result type - 결과 데이터 타입 -->
	<!-- restult type에 DTO 넣으면 해당 클래스 형식으로 받을 수 있음 -->
	<select id="bookCount" resultType="int">
		select count(*) from book
	</select>
	
	<select id="getBook" resultType="test.jdbc.bean.BookDTO">
		select * from book
	</select>
	<!-- ("book"->"bookCount) = (book.bookCount)" -->
	
	<select id="bookNum"  resultType="test.jdbc.bean.BookDTO" parameterType="int">
		<!--select * from book where num = ?-->
		<!-- select * from book where num = #{num}-->
		select * from book
		<include refid="whereNum"/>
	</select>
	
	<resultMap id="bookResMap"
	type="test.jdbc.bean.BookDTO">
		<result column="name" property="writer"/>
		<result column="summary" property="content"/>
	</resultMap>
	
	<select id="bookResMap" resultMap="bookResMap">
		select num, title, writer as name, content as summary, reg from book
	</select>
	
	<insert id="bookInsert" parameterType="test.jdbc.bean.BookDTO">
		insert into book values(book_seq.nextval, #{writer}, #{title}, #{content}, sysdate)
	</insert>
	
	<update id="bookUpdate"
	parameterType="test.jdbc.bean.BookDTO">
		update book set title=#{title}, content=#{content} where num=#{num}
	</update>
	
	<delete id="bookDelete"
	parameterType="int">
		delete from book where num=#{num}
	</delete>
	
	<sql id="whereNum">
		where num = #{num}
	</sql>
	
	

</mapper>